body {
  font-family: $sans;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif;
}

input,
label {
  display: block;
}

main {
  width: 100vw;
  padding: 0;
  margin: 0;

  @include media($mobile) {
  }
}

a {
  text-decoration: none;
  all: unset;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;

  @include media($mobile) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.containerSmall {
  @extend .container;
  max-width: 930px;
}

.divider {
  width: 180px;
  height: 1px;
  background-color: white;
}

.premiumFlag {
  background-color: white;
  width: 26px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.premiumFlag--featuredCard {
  @extend .premiumFlag;
  z-index: 3;
  position: absolute;
  top: 20px;
  right: 20px;
}
