// colors
$brand: #007bff;
$white: white;
$black: black;

// screen sizes
$tablet: 1024px;
$mobile: 768px;

$sans: "Alegreya Sans", sans-serif;
$serif: "Alegreya", serif;

.container {
  max-width: 1060px;
  padding-right: 20px;
  padding-left: 20px;
  margin: auto;
}