// colors
$primary: #2CBCFF;
$white: white;
$black: black;

// screen sizes
$tablet: 1024px;
$mobile: 768px;

// fonts
$sans: "Alegreya Sans", sans-serif;
$serif: "Alegreya", serif;

// elements
.container {
  max-width: 1060px;
  padding-right: 20px;
  padding-left: 20px;
  margin: auto;
}