.cardContent {
  z-index: 3;
}

.cardContent--featuredCard {
  @extend .cardContent;
  position: relative;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media($mobile) {
    padding: 70px 20px 20px;
  }
}

.cardContent__date,
.cardContent__content {
  color: black;
}

.cardContent__title {
  font-family: $serif;
  font-size: 30px;
  font-weight: bold;
  color: black;
  transition: 300ms;
  line-height: 1;
  margin: 4px 0;

  @include media($mobile) {
    font-size: 22px;
  }
}
